.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.blue {
    color: $blue;
}

.wrapper {
    width: $sizeKeyboard;
    margin: 0 auto;
    padding: 2rem 0;
    @include mquery($sizeKeyboard) {
        width: 100%;
        padding: 1rem 0 0 0;
    }
}

header {
    @include mquery($sizeKeyboard) {
        padding: 0 1rem;
    }
    > i {
        margin: 0 1rem 1.8rem;
        @include mquery($sizeKeyboard) {
            margin-bottom: 1rem;
            font-size: 1rem;
        }
    }
}

h1 {
    font-size: 2.2rem;
    color: white;
    del {
        font-size: 2rem;
        color: tint($color, 40);
    }
    @include mquery($sizeKeyboard) {
        font-size: 1.5rem;
        del {
            font-size: 1.5rem;
        }
    }
}

p {
    font-size: 1.2rem;
    color: tint($color, 40);
    text-align: left;
    @include mquery($sizeKeyboard) {
        font-size: 1rem;
    }
    > a,
    > span {
        color: white;
        .icon {
            padding-left: .5rem;
            vertical-align: middle;
            font-size: .6rem;
            text-align: center;
            text-decoration: none;
        }
    }
    &.share {
        i {
            width: 3rem;
            margin-left: 1rem;
            padding: 0;
            line-height: 3rem;
            font-size: .8rem;
            border-radius: 100%;
            color: white;
            &.fb {
                background-color: #3b5998;
            }
            &.tw {
                background-color: #3B94D9;
            }
            &.github {
                background-color: #333;
            }
        }
        .no-small-screen {
            margin-right: 1rem;
            @include mquery($sizeKeyboard) {
                display: none;
            }
        }
    }
}
